@import url('reset.css');

    * {
        box-sizing: border-box;
    }
    body{
        height: 100vh;
    }
    .container{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        margin: 0 auto;
        width: 70%;
        height: 100%;
        display: grid;
        grid-template: "topo" 120px
                        "menu" 40px
                        "conteudo" 1fr
                        "rodape" 50px / 1fr;
    }
    #topo{
        background-color: #3c2115;
        width: 100%;
        padding: 1rem;
        text-align: center;
    }
    #topo .logo{
        height: 100px;
        cursor: pointer;
    }
    
    #menu{
        background-color: #3c2115;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    #menu ul{
        display: flex;
        margin-left: 0.7rem;
    }
    #menu ul li{
        font-size: 0.9rem;
        margin-right: 2rem;
    }
    #menu ul li a{
        text-decoration: none;
        color: #bc8a3c;
        padding: 0.3rem;
        max-width: 10rem;
    }
    #menu ul li a:hover{
        text-decoration: underline;
    }
    #menu .login{
        float: right;
        margin-right: 1rem;
        border: 1px solid #bc8a3c;
        border-radius: 5px;
        color: #bc8a3c;
        padding: 5px;
        display: flex;
        flex-direction: row;
        cursor: pointer;
        background-color: #3c2115;
    }
    #menu .login i{
        margin-right: 5px;
    }
    #conteudo{
        background-color: white;
        width: 100%;
        display: flex;
        flex-direction: row;
    }
    #titulo{
        width: 70vw;
        background-color: #bc8a3c;
        display: flex;
        flex-direction: row;
        color: white;
    }
    #titulo h2{
        font-size: 2rem;
        flex: 1;
    }
    #titulo ul{
        flex: 3;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        font-weight: bold;
    }
    #titulo ul li a{
        text-decoration: none;
        padding: 0.3rem;
        max-width: 10rem;
        color: white;
        margin-right: 2rem;
    }
    #titulo ul li a:hover{
        text-decoration: underline;
    }
    #mensagem{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }
    #message{
        color: #3c2115;
        margin-top: 1rem;
        border: 1px solid #3c2115;
        padding: 0.5rem;
        border-radius: 5px;
        text-align: center;
    }
    .edicao{
        color: #3c2115;
        margin-top: 1rem;
        border: 1px solid #3c2115;
        padding: 0.5rem;
        border-radius: 5px;
        text-align: center;
        width: 100%;
        max-height: 2rem;
    }
    .subtitulo{
        color: #bc8a3c;
        margin: 1rem 0 0 1rem;
        text-decoration: underline;
        font-size: 1.5rem;
    }
    #conteudo #entrar{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }
    .cadastrar{
        color: #bc8a3c;
        text-decoration: none;
    }
    .cadastrar:hover{
        text-decoration: underline;
    }
    #servicos{
        text-align: center;
        color: #bc8a3c;
        flex: 1;
        margin: 1rem;
        padding: 1rem;
        border: 1px solid #bc8a3c;
        border-radius: 15px;
    }
    #servicos h3{
        font-size: 1.5rem;
        margin: 1rem 1rem 3rem 1rem;
        text-decoration: underline;
        font-weight: bold;
    }
    #servicos h4{
        font-size: 1.2rem;
        margin: 1rem;
        font-weight: bold;
    }
    #servicos p{
        font-size: 1rem;
        margin: 1rem;
    }
    #contato{
        color: #bc8a3c;
        flex: 1;
        margin: 1rem;
        padding: 1rem;
        border: 1px solid #bc8a3c;
        border-radius: 15px;
    }
    #contato h3{
        font-size: 1.5rem;
        margin: 1rem 1rem 3rem 1rem;
        text-decoration: underline;
        font-weight: bold;
    }
    #contato form input textarea{
        font-size: 1rem;
        margin: 1rem;
        box-shadow: 0 0 0 0;
        outline: 0;
    }
    #contato .emailassunto{
        display: flex;
        flex-direction: row;
    }
    #contato .emailassunto div{
        flex: 1;
    }
    #contato .emailassunto div input{
        width: 99.5%;
        border: 1px solid #bc8a3c;
        border-radius: 0;
        box-shadow: 0 0 0 0;
        outline: 0;
    }
    #servicos{
        flex: 1;
    }
    #contato form div textarea{
        width: 100%;
        height: 10rem;
        border: 1px solid #bc8a3c;
        box-shadow: 0 0 0 0;
        outline: 0;
    }
    form{
        margin: 2rem auto;
        font-weight: bold;
        width: 32rem;
    }
    .l-00{
        width: 70%;
    }
    form label{
        color: #bc8a3c;
    }
    form input, select, textarea{
        padding: 0.5rem;
        width: 100%;
        border: 1px solid #bc8a3c;
        box-shadow: 0 0 0 0;
        outline: 0;
    }
    form #btn{
        width: 100%;
        background-color: #3c2115;
        color: white;
        cursor: pointer;
        border-radius: 0;
        font-size: 1rem;
        font-weight: bold;
    }
    .l-01{
        float: left;
        width: calc(100% / 3);
        padding: 0.3rem;
    }
    #btn-00{
        width: 20%;
        background-color: #3c2115;
        color: white;
        cursor: pointer;
        border-radius: 0;
        font-size: 1rem;
        font-weight: bold;
        float: right;
    }
    #resposta{
        margin: 1rem auto;
        width: 20rem;
        color: red;
    }
    #rodape{
        background-color: #3c2115;
        color: #bc8a3c;
        width: 100%;
        padding: 1rem;
        text-align: center;
    }
    h1{
        font-size: 1.5rem;
        margin: 1rem;
        font-weight: bold;
    }
    h2{
        font-size: 1rem;
        margin: 1rem;
        font-weight: bold;
    }
    table{
        border: 1px solid #bc8a3c;
        width: 95%;
        border-collapse: collapse;
        margin: 1rem auto;
    }
    tr, th,td{
        border: 1px solid #bc8a3c;
        padding: 10px;
        font-size: 0.7rem;
    }
    thead tr{
        background-color: #3c2115;
        color: white;
    }
    .btn, a.btn{
        padding: 1px;
        color: #bc8a3c;
        text-decoration: none;
        outline: none;
        margin: 0 5px;
        background-color: rgb(109, 106, 106);
    }
    .btn-edit, a.btn-edit{
        background-color: white;
    }
    .btn-remove, a.btn-remove{
        background-color: white;
    }
    
    @media (max-width: 1250px){
        .container{
            width: 100%;
        }
    }
    @media (max-width: 830px){
        #conteudo{
            display: flex;
            flex-direction: column;
        }
        #titulo{
            width: 100%;
        }
        #titulo ul{
            font-size: 0.8rem;
        }
    }
    @media (max-width: 690px){
        form{
            margin: 2rem auto;
            font-weight: bold;
            width: 25rem;
        }
        table{
            width: 95%;
        }
        tr, th,td{
            padding: 3px;
            font-size: 0.5rem;
        }
        #titulo ul{
            font-size: 0.6rem;
        }
        #titulo ul li a{
            margin-right: 0.5rem;
        }
        #titulo h2{
            font-size: 1.2rem;
        }
    }